{% extends 'template.html' %}
{% set admin = True %}

{% block name %}
    Create Blog
{% endblock %}

{% block navbarId %}nav-admin{% endblock %}

{% block headElem %}
<script>
    $(document).ready(function() {
        var snackbar = document.querySelector("#post-snackbar");
        var loading_dialog = document.querySelector("#loading-dialog");
        if (!loading_dialog.showModal) {
            dialogPolyfill.registerDialog(loading_dialog);
        }

        $("#postform").submit(function(event) {
            loading_dialog.showModal();

            // Load up data
            var new_path = $("input[name=path]").val();
            post_data = {
                "path": new_path,
                "title": $("input[name=title]").val(),
                "header-img": $("input[name=header-img]").val(),
                "header-cap-strong": $("input[name=header-cap-strong]").val(),
                "header-cap-rest": $("input[name=header-cap-rest]").val(),
                "teaser": $("input[name=teaser]").val(),
                "content": $("textarea[name=content]").val(),
            }
            $.ajax({
                url: "/api/admin/blog/create",
                type: "POST",
                data: JSON.stringify(post_data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    if (data.status != 200) {
                        loading_dialog.close();
                        err_msg = "err" in data ? ("Error: " + data.err) : ("Status: " + data.status);
                        snackbar.MaterialSnackbar.showSnackbar({
                            message: "Failed to create blog. " + err_msg
                        });
                        return false;
                    }

                    window.location.replace("/blog/post_" + new_path);
                    return false;
                },
            });


            return false;
        });
    });
</script>

<style>
#content-input {
    font-family: "Lucida Console", Monaco, monospace;
}
</style>
{% endblock %}

{% block bodyElem %}
  <div class="mdl-grid portfolio-max-width">
    <dialog class="mdl-dialog", id="loading-dialog">
      <h4 class="mdl-dialog__title">Loading...</h4>
      <div class="mdl-dialog__content" id="loading-dialog-content">
        <div class="mdl-spinner mdl-js-spinner is-active"></div>
      </div>
    </dialog>

    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">

      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Create Blog Post</h2>
      </div>

      <form id="postform">
        <div class="mdl-grid portfolio-copy">

          <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" name="path" id="path-input" />
            <label class="mdl-textfield__label" for="path-input">Path</label>
          </div>

          <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" name="title" id="title-input" />
            <label class="mdl-textfield__label" for="title-input">Title</label>
          </div>

          <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" name="header-img" id="header-image-input" />
            <label class="mdl-textfield__label" for="header-image-input">Header Image URL</label>
          </div>

          <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" name="header-cap-strong" id="header-cap-strong-input" />
            <label class="mdl-textfield__label" for="header-cap-strong-input">Header Caption (strong)</label>
          </div>

          <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" name="header-cap-rest" id="header-cap-rest-input" />
            <label class="mdl-textfield__label" for="header-cap-rest-input">Header Caption (rest)</label>
          </div>

          <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" name="teaser" id="teaser-input" />
            <label class="mdl-textfield__label" for="teaser-input">Teaser</label>
          </div>

          <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield">
            <textarea class="mdl-textfield__input" type="text" name="content" id="content-input" rows= "3" id="sample5"></textarea>
            <label class="mdl-textfield__label" for="sample5">Content</label>
          </div>

          <div class="mdl-cell mdl-cell--12-col">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
              Submit
            </button>
          </div>

        </div>
      </form>

    </div>
  </div>



  <div id="post-snackbar" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
  </div>
{% endblock %}
