{% extends 'template.html' %}
{% set admin = True %}

{% block name %}
    List Images
{% endblock %}

{% block navbarId %}nav-admin{% endblock %}

{% block headElem %}
<style>
.demo-list-icon {
  width: 300px;
}
</style>

<script>
keys = [
    {% for img in images %}"{{ img }}",
    {% endfor %}
];
var active_key;

$(document).ready(function() {

    var confirm_dialog = document.querySelector("#confirm-dialog");
    if(!confirm_dialog.showModal) {
        dialogPolyfill.registerDialog(confirm_dialog);
    }

    var loading_dialog = document.querySelector("#loading-dialog");
    if (!loading_dialog.showModal) {
        dialogPolyfill.registerDialog(loading_dialog);
    }

    var snackbar = document.querySelector("#delete-snackbar");

    keys.forEach(function (key, index) {
        $("#delete-button-" + index).click(function() {
            active_key = key;
            $("#dialog-text").text("Are you sure you want to delete the image titled \"" + active_key + "\"?")
            confirm_dialog.showModal();
        });
    });

    $("#close-delete").click(function() {
        confirm_dialog.close();
    });

    $("#confirmed-delete").click(function() {
        confirm_dialog.close();
        loading_dialog.showModal();
        $.ajax({
            url: "/api/admin/image/delete",
            type: "POST",
            data: JSON.stringify({"name": active_key}),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(data) {
                if(data.status != 200) {
                    loading_dialog.close();
                    err_msg = "err" in data ? ("Error: " + data.err) : ("Status: " + data.status);
                    snackbar.MaterialSnackbar.showSnackbar({
                        timeout: 5000,
                        message: "Failed to delete image \"" + active_key + "\". " + err_msg
                    });
                } else {
                    location.reload();
                }
            },
            failure: function(data) { location.reload(); },
        });
    });

});
</script>
{% endblock %}

{% block bodyElem %}
<div class="mdl-grid portfolio-max-width">
    <dialog class="mdl-dialog", id="confirm-dialog">
        <h4 class="mdl-dialog__title">Confirm deletion</h4>
        <div class="mdl-dialog__content">
            <p id="dialog-text"></p>
        </div>
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button" id="confirmed-delete">Yes</button>
            <button type="button" class="mdl-button" id="close-delete">Cancel</button>
        </div>
    </dialog>

    <dialog class="mdl-dialog", id="loading-dialog">
        <h4 class="mdl-dialog__title">Loading...</h4>
        <div class="mdl-dialog__content" id="loading-dialog-content">
            <div class="mdl-spinner mdl-js-spinner is-active"></div>
        </div>
    </dialog>

    <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">Listing of all Images</h1>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col"></div>
    <div class="mdl-cell mdl-cell--6-col mdl-card mdl-shadow--4dp portfolio-card">
        <ul class="mdl-list">
            {% for image in images %}
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    <img class="mdl-list__item-icon" src="/img/{{ image }}" />
                    <a href="/img/{{ image }}">{{ image }}</a>
                </span>
                <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect mdl-list__item-secondary-action"
                        id="delete-button-{{ loop.index0 }}">
                    <i class="material-icons">delete</i>
                </button>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="mdl-cell mdl-cell--3-col"></div>
</div>

<div id="delete-snackbar" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
<button class="mdl-snackbar__action" type="button"></button>
</div>
{% endblock %}
