{% extends 'template.html' %}

{% block name %}
    CS373 Fall 2017: Fnal
{% endblock %}

{% block headElem %}

{% endblock %} 

{% block navbarId %}nav-blog{% endblock %}

{% block bodyElem %}
<div class="mdl-grid portfolio-max-width">
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Final: 20/11 - 3/12</h2>
        </div>
        <div class="mdl-card__media">
            <img class="article-image" src="/static/img/library.jpg" border="0" alt="" />
        </div>
        <div class="mdl-card__supporting-text">
            <strong>Shoal Creek</strong>
            <span>as seen from next to the Austin Central Library.</span>
        </div>
        <div class="mdl-grid portfolio-copy">
            <div class="mdl-cell mdl-cell--6-col mdl-card__supporting-text no-padding">
                <p>As requested by Downing, I'll use this final entry to summarize my experience of
                    the entire class. To break this down, I'll split everything into the good and
                    the bad. I'll also add a final section with who this class is for, so if that's
                    what you came here for, just skip to that. Let's take a look at this class
                    then.</p>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <img class="article-image" src=" /static/img/selfie.png" border="0" alt="" />
            </div>

            <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">The Good</h3>
            <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                <p>I'd be remiss not to say this class had some great components to it. First off,
                    Downing's lecture methods, which at times can feel on the heavy side, are
                    generally very effective. It's definitely made the students both attentive at
                    class and kept attendance grades high, even late into the semester. The quizzes
                    have also contributed well to this, making sure everyone's there on time and
                    (partially) awake.</p>
                <p>Making the class project-heavy was also, in my opinion, a great decision. It's
                    my belief that the best way to learn how to program is to practice it as much
                    as possible. There's only so far that you can learn with only lecture
                    materials, and this class does a great job at mixing both aspects of
                    learning.</p>
            </div>


            <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">The Bad</h3>
            <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                <p>With all this said, there were some issues with the class I cannot gloss over.
                    The first were the topics discussed in class. While I've definitely learned
                    quite a fair amount of Python as well as a little SQL, I felt like much of
                    what I learned in the lecture I could have learned on my own time. As
                    interesting as more advanced Python functionality was, I did not felt like I
                    was learning "software engineering" as just another programming language.</p>
                <p>One of the other "bad" things for me was the restrictive nature of the project.
                    While I understand that this is so that someone else can use your API at the
                    end of the project, I think it would be great to see more diversity in
                    projects. If we could make something more complex or interesting, a social
                    network for a specific community, a site to alert you of oncoming earthquakes,
                    it would have made the project a lot more enjoyable and interesting. At the
                    same time, the tooling was very restrictive. It would have been great if we had
                    more freedom on the services we could have used to deploy our site, as well as
                    the programming language. Instead, we were restricted on both ends.</p>
            </div>

            <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">So Should I Take This Class?</h3>
            <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                <p>This is probably the most important question. Because besides all the good and
                    the bad above, it doesn't really say if you should take the class or not.
                    That's a very personal decision. Looking back, I did not get as much out of
                    this class as I could have. That being said, it was heavily influenced by my
                    previous experience. I'm a senior, meaning I'm a lot more opinionated on a lot
                    of the topics discussed in class (independent of whether I'm right or not).
                    I've also had hands-on experience with software engineering through
                    internships. For these reasons, this class isn't really for me.</p>
                <p>However, if you're a first year or second year CS student (or just a student who
                    feels you haven't gotten enough software engineering experience outside of
                    school), this is the class for you. It'll force you to learn how to make a
                    modern website, work with other people, and get used to some of the tools of
                    the trade, this is the place for you. Otherwise, look for a different class.</p>
            </div>
        </div>
    </div>

</div>
{% endblock %}
