{% extends 'template.html' %}

{% block name %}
    {{ blog_title }}
{% endblock %}

{% block headElem %}
<link rel="stylesheet" type="text/css" href="/static/css/pygments_code.css" />
<style>
div.codehilite {
    /* Code blocks need to be horizontally scrollable */
    overflow-x: scroll;
    /* Codeblocks need a bit of padding */
    padding: 0.5em;
}

#blog-content img {
    width: 70%;
}

#blog-content table {
    margin: 2em;
};
</style>


<script>
    $(document).ready(function() {
        $("#blog-content table").addClass(
            "mdl-data-table mdl-js-data-table mdl-shadow--2dp"
        );
    });
</script>
{% endblock %}

{% block navbarId %}nav-blog{% endblock %}

{% block bodyElem %}
<div class="mdl-grid portfolio-max-width">

  <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{{ blog_title }}</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Created at {{ creation_date }}<br />
      Last modified at {{ modified_date }}<br />
      Tags:
      {% for tag in tags %}
      <a href="/blog/tag/{{ tag }}"><strong>{{ tag }}</strong></a>
      {{ ", "if not loop.last }}{% endfor %}
    </div>
    <div class="mdl-card__media">
      <img class="article-image" src="{{ header_image.path }}" border="0" alt="">
    </div>
    <div class="mdl-card__supporting-text">
      <strong>{{ header_image.caption_strong }}</strong>
      <span>{{ header_image.caption_cont }}</span>
    </div>
    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding"
         id="blog-content">
      {{ html_content|safe }}
    </div>
  </div>

</div>
{% endblock %}
