{% extends 'template.html' %}

{% block name %}
CS373 Fall 2017
{% endblock %}

{% block navbarId %}nav-blog{% endblock %}

{%block headElem %}

{% endblock %}

{% block bodyElem %}
<div class="mdl-grid portfolio-max-width">
    {% for key, blog in blogs.items() %}
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
            <img class="article-image" src="{{ blog.header_image.path }}" border="0" alt="" />
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{ blog.name }}</h2>
        </div>
        <div class="mdl-card__supporting-text">
            {{ blog.teaser }}...
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
                href="/blog/post{{ key }}">Read more</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
