<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="A portfolio template that uses Material Design Lite.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
        <link rel="manifest" href="/static/favicon/site.webmanifest">
        <link rel="shortcut icon" href="/static/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        <title>{% block name %}{% endblock %} - Ricardo Delfín</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" />
        <link rel="stylesheet" href="/static/css/material.min.css" />
        <link rel="stylesheet" href="/static/css/portfolio.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="/static/css/ionicons.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script>
            $(document).ready(function() {
                var nav_id = "{% block navbarId %}{% endblock %}".trim();
                if(nav_id && $("#" + nav_id).length) {
                    $("#" + nav_id).addClass("is-active");
                }
            });
        </script>

        {% block headElem %}{% endblock %}

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-105823883-1', 'auto');
            ga('send', 'pageview');

        </script>
    </head>

    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout__title">Ricardo Delfín</span>
                </div>
                <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
                    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                        <a class="mdl-navigation__link" id="nav-home" href="/">Home</a>
                        <a class="mdl-navigation__link" id="nav-projects" href="/projects">Projects</a>
                        <a class="mdl-navigation__link" id="nav-resume" href="/documents/resume.pdf">Resume</a>
                        <a class="mdl-navigation__link" id="nav-contact" href="/contact">Contact</a>
                        <a class="mdl-navigation__link" id="nav-blog" href="/blog">Blog</a>
                    </nav>
                </div>
            </header>
            <div class="mdl-layout__drawer mdl-layout--small-screen-only">
                <span class="mdl-layout__title">Ricardo Delfín</span>
                <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                    <a class="mdl-navigation__link" href="/">Home</a>
                    <a class="mdl-navigation__link" href="/projects">Projects</a>
                    <a class="mdl-navigation__link" href="/documents/resume.pdf">Resume</a>
                    <a class="mdl-navigation__link" href="/contact">Contact</a>
                    <a class="mdl-navigation__link" href="/blog">Blog</a>
                </nav>
            </div>
            <main class="mdl-layout__content">

                {% block bodyElem %}{% endblock %}

                <footer class="mdl-mini-footer">
                    <div class="mdl-mini-footer__left-section">
                        <div class="mdl-logo">&#169; 2017 - Ricardo Delfin Garcia</div>
                    </div>
                    <div class="mdl-mini-footer__right-section">
                        <ul class="mdl-mini-footer__link-list">
                            <li><a href="https://github.com/rdelfin/personal-site">Source</a></li>
                        </ul>
                    </div>
                </footer>
            </main>
        </div>
        <script src="/static/js/material.min.js"></script>
    </body>
</html>

<!---->
